/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #1a1a1a;
  color: #fff;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

header h1 {
  margin: 0;
  text-align: center;
  font-size: 2.5rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  padding: 10px 15px;
  transition: background 0.3s, color 0.3s;
}

nav ul li a:hover {
  background-color: #f4f4f4;
  color: #333;
  border-radius: 5px;
}

section {
  padding: 60px 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #1a1a1a;
  position: relative;
}

h2::after {
  content: '';
  display: block;
  width: 60px;
  height: 4px;
  background-color: #1a1a1a;
  margin: 10px auto;
}

#about p {
  font-size: 1.1rem;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  color: #555;
}

.project {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.project h3 {
  font-size: 1.5rem;
  color: #1a1a1a;
  margin-bottom: 10px;
}

.project p {
  font-size: 1rem;
  color: #777;
}

.project:nth-child(even) {
  flex-direction: row-reverse;
}

.project {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.project:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

#skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

#skills ul li {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 25px;
  font-size: 1.1rem;
  transition: background-color 0.3s;
}

#skills ul li:hover {
  background-color: #1a1a1a;
}

#contact p {
  text-align: center;
  font-size: 1.2rem;
  color: #333;
}

footer {
  background-color: #1a1a1a;
  color: #fff;
  text-align: center;
  padding: 15px;
  position: relative;
}

footer p {
  margin: 0;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  .project {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
    margin-top: 10px;
  }

  nav ul li {
    margin: 10px 0;
  }

  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.8rem;
  }

  nav ul li a {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  #skills ul li {
    font-size: 1rem;
    padding: 8px 15px;
  }
}
